<div class="row">
  <aside class="span4">
    <selection>
      <%= render 'shared/user_info' %>
    </selection>
    <selection>
      <%= render 'shared/micropost_form' %>
    </selection>
  </aside>
  <div class="span8">
    <h3> Micropost Feed </h3>
    <%= render 'shared/feed' %>
  </div>
</div>
